<head>
  <style type="text/css">
    .text,h2{
      font-size: 15px;
      font-style: italic;
      font-family: Arial Black;
      color: #555555;
      margin-left: 5%;
    }
    .textbox{
          display: inline-block;
          width: 250px;
          height: 40px;
          box-sizing: border-box;
          outline: none;
          border: 1px solid lightgray;
          border-radius: 3px;
          padding: 5px 5px 5px 50px;
          transition: all 0.1s ease-out;
    }
      .field{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .btn
    {
       background-color: #555555; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

  </style>
</head>
<body style="background-color: #e7e7e7;">
  <div style="margin-left: 42%;">
<h2 style="margin-left: 7%;font-size: 25px;">Log in</h2>
<br/> <br/>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: 'text' %><br /><br/>
    <%= f.email_field :email, autofocus: true, class: 'textbox' %>
  </div>
<br/> <br/>
  <div class="field">
    <%= f.label :password, class: 'text' %><br /> <br/>
    <%= f.password_field :password, autocomplete: "off", class: 'textbox' %>
  </div>
<br/> <br/>
  <div class="actions" style="margin-left: 7%;">
    <%= f.submit "Log in", class: 'btn' %>
  </div>
<% end %>
</div>
</body>


